body {
  /*
  margin: auto;
  
  width: 1060px;
  */
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;

  text-align: center;
  background: linear-gradient(180deg,white,gainsboro);
  color: black;
  

}

h1 {
  padding: 20px 0px 10px 0px;
}

/* This changes color and removes default underline in links  */

a {
color:gainsboro;
text-decoration: none;

}


/* Centers images */

img {

}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.container {
  /*
  margin-top: 60px;
  */
  padding: 30px;

  width: 250px;
	background-repeat: inherit;
	background-position: left top;
	background-attachment: fixed;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
  background: linear-gradient(gainsboro,white);
  color:black;
}

.container-fluid img{

    display: block;
  margin: 0px auto;



}



/* -------------------------------------------------------------*/
